body {
    background-color: #BFB;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#contenido {
    width: 820px;
    max-width: calc(100% - 16px);
    margin: 16px auto;
    background-color: #EFE;
    border-radius: 16px;
}

main {
    padding: 24px;
    border-radius: 16px;
    background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.6em 0em 1em;
    text-align: center;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em;}
h6 { font-size: 1em; }

code {
    padding: 2px 4px;
    background-color: #E8E8E8;
    border-radius: 4px;
    font-family: Consolas, "Courier new", monospace;
}

#entrada {
    display: flex;
    gap: 8px;
}

#resultado {
    min-height: 96px;
    background-color: #E8E8E8;
    border-radius: 8px;
    padding: 16px;
}

#mensaje {
    margin: 0;
    display: none;
}

#ruta {
    padding-left: 1.5rem;
}

#elementos {
    display: none;
    list-style: none;
    padding: 0;
}

#elementos li {
    border-top: 1px solid #AAA6;
    padding: 8px;
}

#tabla {
    display: none;
    background-color: #FAFAFA;
    border-collapse: collapse;
    overflow: hidden;
}

#tabla td, #tabla th {
    border: 1px solid #AAA;
    padding: 8px;
}

#error {
    display: none;
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    border: 2px solid #F88;
    background-color: #FAA;
}

#pagina-prueba {
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    border: 2px solid #8AE;
    background-color: #ACF;
}

#pagina-prueba a {
    color: #005;
}

#pagina-prueba a:hover {
    color: #00B;
}

#pagina-prueba a:active {
    color: #22F;
}