body {
    background-color: #BDF;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 820px;
    max-width: calc(100% - 16px);
    margin: 16px auto;
    padding: 24px;
    background-color: #FFF;
    border-radius: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.6em 0em 1em;
    text-align: center;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em;}
h6 { font-size: 1em; }

code {
    padding: 2px 4px;
    background-color: #E8E8E8;
    border-radius: 4px;
    font-family: Consolas, "Courier new", monospace;
}

#entrada {
    display: flex;
    gap: 8px;
}

#campo {
    padding: 8px;
    flex: 1;
    font-size: 1em;
    font-family: Consolas, "Courier new", monospace;
    font-weight: 600;
    background-color: #E8E8E8;
    border: 1px solid #999;
    border-radius: 6px;
}

#campo {
    padding: 8px;
    flex: 1;
    font-size: 1em;
    font-family: Consolas, "Courier new", monospace;
    font-weight: 600;
    background-color: #E8E8E8;
    border: 1px solid #999;
    border-radius: 6px;
}

#boton-consultar {
    padding: 8px;
    background-color: #F4F4F4;
    border: 1px solid #999;
    border-radius: 6px;
}

#boton-consultar:hover {
    background-color: #E8E8E8;
}

#boton-consultar:active {
    background-color: #D4D4D4;
}

#resultado {
    min-height: 96px;
    background-color: #E8E8E8;
    border-radius: 8px;
    padding: 16px;
}

#mensaje {
    margin: 0;
    display: none;
}

.error {
    color: #A00;
}

#tabla {
    background-color: #FAFAFA;
    border-collapse: collapse;
    overflow: hidden;
}

#tabla td, #tabla th {
    border: 1px solid #AAA;
    padding: 8px;
}

#pagina-prueba {
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    border: 2px solid #8AE;
    background-color: #ACF;
}

#pagina-prueba a {
    color: #005;
}

#pagina-prueba a:hover {
    color: #00B;
}

#pagina-prueba a:active {
    color: #22F;
}